[Desktop Entry]
Encoding=UTF-8
Name=Link to Frequency Response Magnitude and Poles and Zeros - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=8jNjVkoZQCU
Icon=text-html
