[Desktop Entry]
Encoding=UTF-8
Name=Link to z transform - Identifying the magnitude and impulse response from pole zero plot quickly - Signal Processing Stack Exchange
Type=Link
URL=https://dsp.stackexchange.com/questions/28485/identifying-the-magnitude-and-impulse-response-from-pole-zero-plot-quickly
Icon=text-html
